.anime-card {
  width: fit-content;
  padding: 16px;
}

.example-form-field {
  margin-top: 20px;
}

.success {
  color: #00c741;
}

.mat-mdc-card-header {
  padding: 0 0 16px 0;
}

.title-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.orange {
  color: orange;
}

::ng-deep .error-orange .mat-mdc-form-field-required-marker,
::ng-deep .error-orange .mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  color: orange !important;
}

.bottom-card {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
