<mat-card class="anime-card">
  <mat-card-header>
    <mat-card-title>Opening {{index + 1}}</mat-card-title>
  </mat-card-header>
  <audio controls>
    <source src="{{'assets/audios/' + anime?.audio + '.mp3'}}" type="audio/mpeg">
    Tu navegador no soporta el elemento de audio.
  </audio>
  <mat-form-field class="example-form-field" appearance="outline">
    <mat-label>¿Cuál es el anime?</mat-label>
    <input matInput type="text" [formControl]="anime?.form">
    @if (anime?.form?.value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="anime?.form.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    }
    <mat-error>{{errors[randomIndex]}}</mat-error>
    </mat-form-field>
      @if (success) {
        <div class="success">Correcto! ✔️</div>
      }
</mat-card>
