.full-width {
  width: 100%;
  text-align: center; /* Alinea el texto al centro si es necesario */
  white-space: normal; /* Asegura que el texto no se trunque y se ajuste según el ancho disponible */
  margin: 8px 0; /* Ajusta los márgenes superior e inferior */
}

.dialog-actions {
  display: flex;
  justify-content: space-around; /* Espacio alrededor de los botones */
}

.high-button {
  padding: 50px;
}
