<h2 mat-dialog-title>¡Enhorabuena!</h2>
<mat-dialog-content>
  <div>
    ¡Has completado todo el quiz! Si que sabes de openings de anime.
  </div>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-flat-button class="full-width" (click)="close(true)">
    ¡Dame el número!
  </button>
  <button mat-raised-button class="full-width high-button" mat-dialog-close>
    Gracias, pero no necesito el número. La amistad no se puede medir por una caja llena de sobres con dinero. Prefiero quedarme con la experiencia de este maravilloso regalo.
  </button>
</mat-dialog-actions>

