.app-container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

ul li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.2s ease;
}

ul li:hover {
  background-color: #f7f7f7;
}

ul li:before {
  font-size: 14px;
  color: #666;
  margin-right: 10px;
  font-weight: normal;
}

.rules-panel {
  margin: 20px 40px;
}

.success-container {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.chip-successes {
  background-color: #b6d4ff !important;
}

.custom-title {
  font-family: 'Arial', sans-serif;
  font-size: 48px; /* Tamaño de fuente más grande */
  color: gold; /* Color dorado */
  text-align: center; /* Alineación del texto */
  text-transform: uppercase; /* Transformación del texto a mayúsculas */
  letter-spacing: 5px; /* Espaciado entre letras */
  text-shadow:
    3px 3px 5px rgba(0, 0, 0, 0.7), /* Sombra más pronunciada */
    0 0 10px rgba(0, 0, 0, 0.5), /* Sombra adicional */
    0 0 20px rgba(0, 0, 0, 0.3); /* Sombra adicional */
  -webkit-text-stroke: 1px black; /* Borde negro alrededor del texto */
}

.final-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semi-transparente */
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Color del texto */
}

.idol-audio {
  opacity: 0;
  position: absolute;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  opacity: 0; /* Inicialmente oculto */
}

.scroll-to-top.fade-in {
  animation: fadeIn 0.3s forwards; /* Animación de fade-in */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fixed {
  position: fixed;
  z-index: 1;
  right: 25px;
  top: 25px;
}

