/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('assets/imgs/fondo.jpeg');
  background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  // background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.center {
  text-align: center;
}

.hipervinculo {
  margin-left: 5px;
  margin-right: 5px;
}

.w-100 {
  width: 100%;
}

.w-auto {
  width: auto;
}

.relative {
  position: relative;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 15px;
}

.d-none {
  display: none;
}

.text-center {
  text-align: center;
}
